<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Editar disciplina</title>
</head>

<body>

     {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
                <p class="{{ categoria }}">
                    {{ mensagem }}
                </p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Editar disciplina</h1>

    <form method="POST">

        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        >

        <label for="nome">Nome da disciplina</label><br>

        <input
            type="text"
            id="nome"
            name="nome"
            value="{{ disciplina.nome }}"
            required
        >

        <br><br>

        <label for="professor">Professor</label><br>

        <input
            type="text"
            id="professor"
            name="professor"
            value="{{ disciplina.professor or '' }}"
        >

        <br><br>

        <label for="dias_semana">Dias da semana</label><br>

        <input
            type="text"
            id="dias_semana"
            name="dias_semana"
            value="{{ disciplina.dias_semana }}"
            required
        >

        <br><br>

        <label for="limite_faltas">Limite de faltas</label><br>

        <input
            type="number"
            id="limite_faltas"
            name="limite_faltas"
            value="{{ disciplina.limite_faltas }}"
            min="1"
            required
        >

        <br><br>

        <button type="submit">
            Salvar alterações
        </button>

    </form>

    <br>

    <a href="/dashboard">Cancelar</a>

</body>

</html>