<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Login</title>
</head>

<body>

    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
                <p class="{{ categoria }}">
                    {{ mensagem }}
                </p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Entrar</h1>

    <form method="POST" action="/login">

        <div>
            <label for="email">E-mail</label>

            <br>

            <input
                type="email"
                id="email"
                name="email"
                placeholder="Digite seu e-mail"
                maxlength="120"
                autocomplete="email"
                required
            >
        </div>

        <br>

        <div>
            <label for="senha">Senha</label>

            <br>

            <input
                type="password"
                id="senha"
                name="senha"
                placeholder="Digite sua senha"
                autocomplete="current-password"
                required
            >
        </div>

        <br>

        <button type="submit">
            Entrar
        </button>

    </form>

    <br>

    <p>
        Ainda não possui uma conta?

        <a href="/cadastro">
            Cadastre-se
        </a>
    </p>

</body>

</html>